.register{
    background: url("/Register-background.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0.125), rgba(0, 0, 0, 0.125)), url("/Register-background.jpg");

    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 1.5rem;
    min-height: 100svh;
    color: var(--white_color);
}

.register form{
    width: 450px;
    display: flex;
    flex-direction: column;
    background-color: var(--transparent-background);
    gap: 1.7rem;
    align-items: center; /* Aligning items to the center for consistency */
    padding: 1rem;
    padding-inline: 1.5rem;
    justify-content: center;
    border: 2px solid transparent;
    border-radius: 15px;
    box-shadow: var(--shadow);
    backdrop-filter: blur(3.5px);
}



.register h1 {
    align-self: center;
    color: var(--font-color);
    font-size: 1.75rem;
    width: 100%;
    text-align: center;
    margin-bottom: 0.5rem; /* Adding margin to separate from form fields */
}

.register div {
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}



.register input {
    width: 100%; 
    height: 2.3rem;
    font-size: 0.8rem;
    border-radius: 4px;
    border: 1.2px solid var(--black_color);
    background: var(--transparent-background);
    outline: none;
    padding-left: 0.5rem; 
    color: var(--white_color);
    font-size: 1.2rem;
    transition: all 0.25s ease-in-out;
}

.register input::placeholder{
    font-size: 1.05rem;
}


.register input:focus{
    border: 1px solid var(--font-color);
}


.register .password-container{
    position: relative;
    margin-bottom: 0.7rem;
}



.register .toggleButton{
    position: absolute;
    right: 0;
    top: 3px;
    border-radius: 50%;
    font-size: 2rem;
    padding: 0.2rem;
    color: var(--font-color);
    cursor: pointer;
}

.register button {
    width: 100%;
    background: var(--font-color);
    border: 1px solid transparent;
    color: var(--white_color);
    border-radius: 5px;
    text-align: center;
    padding: 0.25rem;
    border: none;
    cursor: pointer;
    font-size: 1.40rem;
    background-size: 200% auto;
    transition: all 0.2s ease-in-out;
}

.register button:hover, .register button:focus {
    /* filter: hue-rotate(30deg); */
    box-shadow: 0 0 5px 3px var(--white_color);
}

.register a {
    text-decoration: underline;
    cursor: pointer;
    color: var(--font-color); /* Matching the theme color */
    font-size: 1.2rem; /* Standard font size */
}

.register .register-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.register .register-container .loading{
    color: var(--font-color);
}

.register .error{
    color: red;
    font-size: 1rem;
}