.property-card{
    width: 300px;
    cursor: pointer;
}

.property-card h5{
    color: #333;
}

.img-icon{
    position: relative;
}

.img-icon .fav-icon{
    position: absolute;
    right: 10px;
    top: 4px;
}

.img-icon .fav-icon-full{
    fill: var(--font-color);
    stroke: var(--white_color);
    stroke-width: 2px;
  }
  
  .img-icon .fav-icon-border{
    fill: rgba(0, 0, 0, 0.5);
    stroke: var(--white_color);
    stroke-width: 2px;
  }

.property-card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
}

.property-card .price-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline-end: 0.5rem;
}

.price-rating p{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.05rem;
}