.slider {
    position: relative;
}


.slider .left-arrow{
    position: absolute;
    top: 50%;
    transform: translate(0,-40%);
    left: -52px;
    font-size: 2.5rem;
     color: var(--white_color);
     font-weight: 100;
    z-index: 1;
    cursor: pointer;
}

.slider .right-arrow{
    position: absolute;
    top: 50%;
    transform: translate(0,-40%);
    right: -52px;
    font-size: 2.5rem;
    color: var(--white_color);
    z-index: 1;
    cursor: pointer;
}

@media screen and (max-width: 576px) {
    .slider .right-arrow{
        display: none;
    }
    .slider .left-arrow{
        display: none;
    }
    
}