.tenant {
    display: flex;
    padding: 2rem;
    /* justify-content: center; */
    /* align-items: center; */
    width: 100%;/* Ensures the container takes up the full viewport height */
}

.areas {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill,
    minmax(275px, 1fr));
  grid-gap: 20px
}
