.login form{
    width: 450px;
    display: flex;
    flex-direction: column;
    background-color: var(--white_color);
    border: 1px solid transparent;
    padding: 1.2rem;
    margin: 5rem auto;
    border-radius: 15px;
    align-items: center;
    gap: 3rem;
    justify-content: center;
    box-shadow: var(--shadow);
    font-size: 1.2rem;
}

.login h1{
    width: 100%;
    font-size: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #be6cd3;
}

.login div{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.login label{
    margin-right: 1rem;
    font-size: 1.1rem;
    font-weight: 450;
    color: var(--black_color);
}

.login input{
    width: 75%;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid var(--black_color);
    color: var(--black_color);
    /* font-size: 1.5rem; */
    outline: none;
    padding: 0.2rem;
    transition: all 0.15s ease-in-out;
}

.login input:focus{
    box-shadow: 0 0 5px 0 var(--font-color);
}

.login input::placeholder{
    font-size: 1rem;
}

.login button{
    width: 100%;
    padding: 0.25rem;
    font-size: 1.5rem;
    background: linear-gradient(to right,var(--font-color),var(--secondary-color));
    border: transparent;
    color: var(--white_color);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.login button:hover,.login button:focus{
    filter:brightness(115%);
}

.login .bottom{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.login .loading{
    color: var(--font-color);
}

.login .error{
    color: red;
    font-size: 1rem;
}

.login .verification{
    font-size: 1rem;
    color: var(--black_color);
}

.login .verification .link{
    color: var(--secondary-color);
    cursor: pointer;
    text-decoration: underline;
}